<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.pollub.androidprogrammingfundamentals">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".SMSReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Lab01HelloWorld" />
        <activity android:name=".Lab03Alerts" />
        <activity android:name=".Lab03Notifications" />
        <activity android:name=".Lab02Lifecycle" />
        <activity android:name=".SecondActivity" />
        <activity android:name=".Lab02LayoutAndEvents" />
        <activity android:name=".Lab02Resources" />
        <activity android:name=".Lab02RuntimeLayout" />
        <activity android:name=".Lab02PopularControls" />
        <activity android:name=".NotificationView" />
        <activity android:name=".Lab03ActivityDataTransfer" />
        <activity android:name=".Lab03ActivityDataTransferSub" />
        <activity android:name=".Lab03ImagePicking" />
        <activity android:name=".Lab04Location" />
        <activity android:name=".Lab04AvailableSensors" />
        <activity android:name=".Lab04Accelerometer" />
        <activity android:name=".Lab05SMS" />
        <activity android:name=".Lab05SoundPlayer" />
        <activity android:name=".Lab05MediaPlayer" />
        <activity android:name=".Lab05RecordAudio" />
        <activity android:name=".Lab05TTS"></activity>
    </application>

</manifest>